@import "./base.css";
@import "./global-components/button.css";
@import "./global-components/input.css";

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
}