.button {  
  width: 14.5rem;
  height: 4.4rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0.3rem;
}
.button--red {
  background-color: #ed1c23;
  border: 0.1rem solid #cb0a01;
  color: #ffffff;
}
.button--red-outlined {
  background-color: #ffffff;
  border: 0.1rem solid  #ed1c23;
  color: #ed1c23;
}
.button--orange-outlined
{
  background-color: #ffffff;
  border: 6px solid #F8981D;
  border-radius: 20px;
  width: 40vw;
  height: 15vh;
}
.button--green{
  font-weight:bold;
  background-color: #92C954;
  border-radius:30px;
  border:transparent;
  width: 200px;
  height: 65px;
  left: 525px;
  font-size: 3rem;
}
.button--green-outlined{
  background-color: #ffffff;
  border:6px solid #92C954;
  border-radius: 40px;
  height: 70px;
  width: 350px;
}
.button--purple{
  font-weight:bold; 
  background-color: #675979;
  border-radius: 30px;
  border:transparent;
  width: 200px;
  height: 65px;
  top:100px;
  left:20px;
  font-size: 3rem;
}
.button--purple-outlined {
  background-color: #ffffff;
  border: 6px solid #675979;
  border-radius: 40px;
  height: 70px;
  width: 350px;
}

.button-back:hover{
  background-color: white;
  color:#f8981d;
}

.button-back{
  background-color: #f8981d;
  border-radius: 30px;
  width: 200px;
  height: 65px;
  left: 20px;
  border: none;
  color: white;
}