.button {  
  width: 14.5rem;
  height: 4.4rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0.3rem;
}
.button--red {
  background-color: #ed1c23;
  border: 0.1rem solid #cb0a01;
  color: #ffffff;
}
.button--red-outlined {
  background-color: #ffffff;
  border: 0.1rem solid  #ed1c23;
  color: #ed1c23;
}
.button--orange-outlined
{
  background-color: #ffffff;
  border: 6px solid #F8981D;
  border-radius: 20px;
  width: 40vw;
    height: 15vh;
}
.button--orange-outlined-edit{
    background-color: #ffffff;
      border: 6px solid #F8981D;
      border-radius: 20px;
      width: 8vw;
      height: 6vh;
}
.button--red-outlined-delete{
  background-color: #ffffff;
    border: 6px solid #f82c1d;
    border-radius: 20px;
    width: 8vw;
    height: 6vh;
}
.button-back{
  background-color: #F8981D;
  border-radius: 20px;
  width: 14vw;
  height: 6vh;
}
.button-newuser, .button-newquestion
{
  background-color: #92C954;
  border-radius: 20px;
  width: 14vw;
  height: 6vh;
}
.button-newquestion:hover{
  background-color: green;
}
